<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asagao.Mapper.OrderDetailMapper">
	<resultMap type="com.asagao.Domain.OrderDetail"
		id="OrderDetail">
		<id column="id" property="id" />
		<result column="orders_id" property="orderId" />
		<result column="productId" property="productId" />
		<result column="amount" property="amount" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>
	<insert id="create" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		ORDERS_DETAIL(ORDERS_ID,PRODUCT_ID,AMOUNT,CREATED_AT,UPDATED_AT)
		VALUES
		(#{orderId},#{productId},#{amount},#{createdAt},#{updatedAt})
	</insert>
</mapper>