<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asagao.Mapper.ProductMapper">

	<resultMap id="ProductResultMap" type="com.asagao.Domain.Product">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="price" property="price" />
		<result column="image_url" property="image_url" />
		<result column="color" property="color" />
		<result column="delete_flg" property="deleteFlg" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>
	
	
	<select id="findAll" resultMap="ProductResultMap">
		SELECT
		  *
		FROM
		  product
		<where>
			<if test="name != null and name != ''">
				name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="colorId != null and colorId != ''">
				AND color = #{colorId}
			</if>
		</where>
	</select>
	
	<select id="findById" resultMap="ProductResultMap">
		SELECT
		  *
		FROM
		  product
		WHERE id = #{id}
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM product
		WHERE id = #{id}
	</delete>
<insert id="insert" parameterType="com.asagao.Domain.Product" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO product (
		  name,
		  description,
		  price,
		  image_url,
		  color,
		  delete_flg,
		  created_at,
		  updated_at
		) VALUES (
		  #{name},
		  #{description},
		  #{price},
		  #{image_url},
		  #{color},
		  0,
		  NOW(),
		  NOW()
		)
	</insert>

    
    <update id="update">
    	update product
    	set
	    	name = #{name},
	    	description = #{description},
	    	price = #{price},
	    	image_url = #{image_url},
	    	color = #{color}
	    where
	    	id = #{id}
    </update>
</mapper>
