<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper

   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asagao.Mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.asagao.Domain.User">
        <id property="id" column="id" />
        <result property="email" column="email" />
        <result property="password" column="password" />
        <result property="role" column="role" />
        <result property="lastName" column="last_name" />
        <result property="firstName" column="first_name" />
        <result property="postNumber" column="post_number" />
        <result property="address" column="address" />
        <result property="telNumber" column="tel_number" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <select id="findById" resultMap="UserResultMap">
        SELECT 
           *
        FROM users 
           WHERE id = #{id}
    </select>


  <select id="findByEmailAndPassword" resultMap="UserResultMap">
  	SELECT
  	  *
  	From
  	  user
  	WHERE
  	  email = #{email}
  	And
  	  password = sha2(#{password}, 256)      
  </select>
  
  <insert id="save" parameterType="com.asagao.Domain.User" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO user (email, password, role, last_name, first_name, post_number, address, tel_number, created_at, updated_at)
    values (#{email},sha2(#{password}, 256), #{role}, #{lastName}, #{firstName}, #{postNumber}, #{address}, #{telNumber}, #{createdAt}, #{updatedAt})
  </insert>
  
  <update id="update" parameterType="com.asagao.Domain.User">
    UPDATE user
    SET
      email = #{email}, 
      lastName = #{last_name}, 
      firstName = #{first_name}, 
      postNumber = #{post_number},
      address = #{address},
      telNumber = #{tel_number}
    WHERE 
      id = #{id} 
  </update>
  
  </mapper>
